body {
    background-color: #68A0E0;
}

img {
    display: block;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 36px;
}

#burgersNotDevoured {
    width: 50%;
    float: left;
    text-align: center;
}

#burgersDevoured {
    width: 50%;
    float: right;
    text-align: center;
}

#addBurger {
    clear: left;
    font-size: 18px;
    margin: auto;
    width: 50%;
    text-align: center;
}

ul {
    font-size: 18px;
}

p {
    font-size: 14px;
}